body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px 0;
}

.frame {
    background-color: #fff;
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 300px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 128px;
height: 27px;
top: 199px;
left: 23px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;

}

button:hover {
    background-color: #555;
}

.error {
    color: red;
    font-size: 0.9em;
    display: none;
}

.success {
    color: green;
    font-size: 0.9em;
    display: none;
}
